.col {
    /*border: 1px solid #000000;*/
}

#first {
    background-color: #bb1e32;
}

#second {
    background-color: #da3838;
}

#third {
    background-color: #e5a500;
}

#fourth {
    background-color: #2c497f;
}

#fifth {
    background-color: #33007b;
}

.colorBox {
    height: 200px;
}

.colorBoxSmall {
    height: 50px;
}

.colorPickerButton {
    right: 0;
    bottom: 0;
    position: absolute;
    height: 20%;
}


input[type='range']#colorPicker{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 2px;
    height: 20px;
    background-image: linear-gradient(to right, red, orange, yellow, lightgreen, turquoise, blue, fuchsia, red);
}
input[type='range']::-webkit-slider-thumb {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    -webkit-appearance: none;
    background: white;
    cursor: ew-resize;
    box-shadow: rgba(0, 0, 0, 0.37) 0px 1px 4px 0px;;
}

.fullScalePickerAlphaRight {
    background-image: linear-gradient(to top, black, transparent);
    height: 200px;
    width: 200px;
}

.fullScalePickerAlphaTop {
    background-image: linear-gradient(to right, white, transparent);
    height: 200px;
    width: 200px;
}

.fullScalePickerColor {
    background-image: linear-gradient(to right, white, red);
    height: 200px;
    width: 200px;
}

input[type='range']#brightnessPicker {
    -webkit-appearance: none;
    width: 100%;
    border-radius: 2px;
    height: 20px;
    background-image: linear-gradient(to right, black, rgb(0,255,0));
}

input[type='range']#alphaPicker{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 2px;
    height: 20px;
    background-image: linear-gradient(to right, white, rgb(0,255,0));
}

input[type='range']#saturationPicker{
    -webkit-appearance: none;
    width: 100%;
    border-radius: 2px;
    height: 20px;
    background-image: linear-gradient(to right, white, rgb(0,255,0));
}

#outputHue, #outputSaturation, #outputBrightness, #outputAlpha {
    height: 22px;
    width: 22px;
    border-radius: 50%;
    background-color: rgba(0, 255, 0, 0.50);
}

.btn-save-palette {
    float: right;
}

.hidden {
    visibility:collapse;
}
